
.Anime {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.gds{

    height:400px;
    width: 33%;

}
.wds{

    height:400px;
    width: 33%;
	
}
.bds{

    height:400px;
    width: 33%;

}
.im{

    height:400px;
    width: 33%;

}
.shota{

    height:400px; 
    width: 33%;

}
.ds{

    height:400px;
    width: 33%;
}
.hm{

    height:400px;
    width: 33%;

}
.km{

    height:400px;
    width: 33%;
}
.am{
 
    height:400px;
    width: 33%;
}